In [1]:
import os
import pandas as pd
import re

In [2]:
%pwd

'c:\\Users\\LENOVO\\InsightAI\\notebooks'

In [3]:
os.chdir('..')

In [4]:
%pwd

'c:\\Users\\LENOVO\\InsightAI'

In [5]:
# Load data
df = pd.read_csv('data/raw_tickets.csv')

In [6]:
# Function to clean ticket content
def clean_text(text):
    text = re.sub(r'[^A-Za-z0-9\s]', '', text)  # remove punctuation
    text = re.sub(r'\s+', ' ', text)  # normalize spaces
    return text.strip().lower()

In [7]:
# Function to mask email and phone
def mask_pii(row):
    row['content'] = re.sub(r'\b[\w\.-]+@[\w\.-]+\.\w{2,4}\b', '[EMAIL]', row['content'])
    row['content'] = re.sub(r'\+?\d[\d\s\-x()]{9,}', '[PHONE]', row['content'])
    return row

In [8]:
# Apply cleaning
df['content'] = df['content'].apply(clean_text)
df = df.apply(mask_pii, axis=1)

In [9]:
# Drop raw PII columns
df = df.drop(columns=['user_email', 'user_phone'])

In [10]:
# Save cleaned data
df.to_csv('data/cleaned_data.csv', index=False)
print("✅ Cleaned data saved as data/cleaned_data.csv")
df.head()

✅ Cleaned data saved as data/cleaned_data.csv

,ticket_id,timestamp,source,department,content
0,TKT1000,2025-03-22 11:48:30,email,HR,dawn ochoa from wilcox inc in nguyenfort repor...
1,TKT1001,2025-01-30 09:53:45,chat,Sales,robert smith from cruz ltd in east amanda repo...
2,TKT1002,2025-02-17 11:54:11,chat,Sales,steven king from paynefitzpatrick in new ashle...
3,TKT1003,2025-03-01 20:47:38,email,Sales,timothy trevino from jones inc in heathchester...
4,TKT1004,2025-05-08 19:58:59,call,Finance,pamela harris from johnson smith and wright in...